body{
	font-family: 'Calibri', sans-serif;
	background-color: #FAEBD7;
}

.container{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.content{
	width: 100%;
}

.vid {
	width:100%;
	margin-top: 50px;
	display: none;
}

#button {
	background-color: #8FBC8F;
	color: white;
}






